
@{
    ViewData["Title"] = "M_FlightList";
    Layout = "~/Views/Shared/_Mobile.cshtml";
}



@using (Html.BeginForm("M_Index", "Flight", FormMethod.Post)) {
    
    <div style="width:90%;
                margin:auto;
                background-color:#F0F0F0;
                padding-top:20px;
                padding-bottom:20px;
                margin-top:100px;
                margin-bottom:20px;
                border-radius:20px">

 <a style="text-decoration:none" href="/B-DCS/Flight/M_Passenger"><h4 style="text-align:center">QH88/15Jan/MEL-SYD</h4></a>
 <div style="display:flex;width:100%;margin-top:10px">
    <div style="flex:40%;background-color:#F0F0F0;text-align:center;">STD/ETD</div>
    <div style="flex:60%;background-color:#F0F0F0;text-align:center">
        10:00/--
   </div>
    </div>
   
    <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F0F0F0;text-align:center;">Aircraft/RegisterNo</div>
    <div style="flex:60%;background-color:#F0F0F0;text-align:center">
     B787/VNA1234
   </div>
    </div>


     <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F0F0F0;text-align:center">Gate/Parking</div>
    <div style="flex:60%;background-color:#F0F0F0;text-align:center">
   10/52A
   </div>
    </div>

     <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F0F0F0;text-align:center">STA/ETA</div>
    <div style="flex:60%;background-color:#F0F0F0;text-align:center">
     10:00/--
   </div>
    </div>

     <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F0F0F0;text-align:center">Crew</div>
    <div style="flex:60%;background-color:#F0F0F0;text-align:center">
    2/8/1
   </div>
    </div>


     <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F0F0F0;text-align:center">Crew Bag</div>
    <div style="flex:60%;background-color:#F0F0F0;text-align:center">
   15/150
   </div>
    </div>

     <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F0F0F0;text-align:center">Co-Mat</div>
    <div style="flex:60%;background-color:#F0F0F0;text-align:center">
     215/1500
   </div>
    </div>

     <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F0F0F0;text-align:center">Pag bag p/w</div>
    <div style="flex:60%;background-color:#F0F0F0;text-align:center">
    215/1500
   </div>
    </div>

    </div>






    <div style="width:90%;
                margin:auto;
                background-color:#F8F8F8;padding-top:20px;padding-bottom:20px;margin-bottom:20px; border-radius:20px">

 <h4 style="text-align:center">QH88/15Jan/MEL-SYD</h4>
 <div style="display:flex;width:100%;margin-top:10px">
    <div style="flex:40%;background-color:#F8F8F8;text-align:center">STD/ETD</div>
    <div style="flex:60%;background-color:#F8F8F8;text-align:center">
        10:00/--
   </div>
    </div>
   
    <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F8F8F8;text-align:center">Aircraft/RegisterNo</div>
    <div style="flex:60%;background-color:#F8F8F8;text-align:center">
     B787/VNA1234
   </div>
    </div>


     <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F8F8F8;text-align:center">Gate/Parking</div>
    <div style="flex:60%;background-color:#F8F8F8;text-align:center">
   10/52A
   </div>
    </div>

     <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F8F8F8;text-align:center">STA/ETA</div>
    <div style="flex:60%;background-color:#F8F8F8;text-align:center">
     10:00/--
   </div>
    </div>

     <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F8F8F8;text-align:center">Crew</div>
    <div style="flex:60%;background-color:#F8F8F8;text-align:center">
    2/8/1
   </div>
    </div>


     <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F8F8F8;text-align:center">Crew Bag</div>
    <div style="flex:60%;background-color:#F8F8F8;text-align:center">
   15/150
   </div>
    </div>

     <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F8F8F8;text-align:center">Co-Mat</div>
    <div style="flex:60%;background-color:#F8F8F8;text-align:center">
     215/1500
   </div>
    </div>

     <div style="display:flex;width:100%;margin-top:20px">
    <div style="flex:40%;background-color:#F8F8F8;text-align:center">Pag bag p/w</div>
    <div style="flex:60%;background-color:#F8F8F8;text-align:center">
    215/1500
   </div>
    </div>

    </div>


}